In [2]:
# dependencies
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

master_csv = "archive/Master.csv"
batting_csv = "archive/Batting.csv"

In [3]:
#read in csv files
master_df = pd.read_csv(master_csv)
#master_df.head()
batting_df = pd.read_csv(batting_csv)
batting_df.head()

#filter batting df 
filtered_batting_df = batting_df.loc[batting_df['yearID'] > 1999]
filtered_batting_df

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
79248,abbotje01,2000,1,CHA,AL,80,215.0,31.0,59.0,15.0,...,29.0,2.0,1.0,21.0,38.0,1.0,2.0,2.0,1.0,2.0
79249,abbotku01,2000,1,NYN,NL,79,157.0,22.0,34.0,7.0,...,12.0,1.0,1.0,14.0,51.0,2.0,1.0,0.0,1.0,2.0
79250,abbotpa01,2000,1,SEA,AL,35,5.0,1.0,2.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
79251,abreubo01,2000,1,PHI,NL,154,576.0,103.0,182.0,42.0,...,79.0,28.0,8.0,100.0,116.0,9.0,1.0,0.0,3.0,12.0
79252,aceveju01,2000,1,MIL,NL,62,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101327,zitoba01,2015,1,OAK,AL,3,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101328,zobribe01,2015,1,OAK,AL,67,235.0,39.0,63.0,20.0,...,33.0,1.0,1.0,33.0,26.0,2.0,0.0,0.0,3.0,5.0
101329,zobribe01,2015,2,KCA,AL,59,232.0,37.0,66.0,16.0,...,23.0,2.0,3.0,29.0,30.0,1.0,1.0,0.0,2.0,3.0
101330,zuninmi01,2015,1,SEA,AL,112,350.0,28.0,61.0,11.0,...,28.0,0.0,1.0,21.0,132.0,0.0,5.0,8.0,2.0,6.0
101331,zychto01,2015,1,SEA,AL,13,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:

merged_df = pd.merge(master_df, filtered_batting_df, on='playerID', how = "inner" )

print(merged_df)
#df.to_csv('df.csv')

        playerID  birthYear  birthMonth  birthDay birthCountry birthState  \
0      aardsda01     1981.0        12.0      27.0          USA         CO
1      aardsda01     1981.0        12.0      27.0          USA         CO
2      aardsda01     1981.0        12.0      27.0          USA         CO
3      aardsda01     1981.0        12.0      27.0          USA         CO
4      aardsda01     1981.0        12.0      27.0          USA         CO
...          ...        ...         ...       ...          ...        ...
22079  zumayjo01     1984.0        11.0       9.0          USA         CA
22080  zuninmi01     1991.0         3.0      25.0          USA         FL
22081  zuninmi01     1991.0         3.0      25.0          USA         FL
22082  zuninmi01     1991.0         3.0      25.0          USA         FL
22083   zychto01     1990.0         8.0       7.0          USA         IL

         birthCity  deathYear  deathMonth  deathDay  ...   RBI   SB   CS  \
0           Denver        NaN         NaN       NaN  ...   0.0  0.0  0.0
1           Denver        NaN         NaN       NaN  ...   0.0  0.0  0.0
2           Denver        NaN         NaN       NaN  ...   0.0  0.0  0.0
3           Denver        NaN         NaN       NaN  ...   0.0  0.0  0.0
4           Denver        NaN         NaN       NaN  ...   0.0  0.0  0.0
...            ...        ...         ...       ...  ...   ...  ...  ...
22079  Chula Vista        NaN         NaN       NaN  ...   0.0  0.0  0.0
22080   Cape Coral        NaN         NaN       NaN  ...  14.0  1.0  0.0
22081   Cape Coral        NaN         NaN       NaN  ...  60.0  0.0  3.0
22082   Cape Coral        NaN         NaN       NaN  ...  28.0  0.0  1.0
22083        Monee        NaN         NaN       NaN  ...   0.0  0.0  0.0

         BB     SO  IBB   HBP   SH   SF  GIDP
0       0.0    0.0  0.0   0.0  0.0  0.0   0.0
1       0.0    0.0  0.0   0.0  1.0  0.0   0.0
2       0.0    0.0  0.0   0.0  0.0  0.0   0.0
3       0.0    1.0  0.0   0.0  0.0  0.0   0.0
4       0.0    0.0  0.0   0.0  0.0  0.0   0.0
...     ...    ...  ...   ...  ...  ...   ...
22079   0.0    0.0  0.0   0.0  0.0  0.0   0.0
22080  16.0   49.0  0.0   3.0  0.0  1.0   5.0
22081  17.0  158.0  1.0  17.0  0.0  4.0  12.0
22082  21.0  132.0  0.0   5.0  8.0  2.0   6.0
22083   0.0    0.0  0.0   0.0  0.0  0.0   0.0

[22084 rows x 45 columns]

In [5]:
# drop columns
merged_df = merged_df.drop(['birthDay',
                            'birthMonth',
                            'deathDay',
                            'deathMonth',
                            'deathCountry',
                            'deathState',
                            'deathCity',
                            'weight',
                            'height',
                            'nameFirst',
                            'nameLast',
                            'bats',
                            'throws',
                           ], axis=1)

merged_df
merged_df.dtypes

playerID         object
birthYear       float64
birthCountry     object
birthState       object
birthCity        object
deathYear       float64
nameGiven        object
debut            object
finalGame        object
retroID          object
bbrefID          object
yearID            int64
stint             int64
teamID           object
lgID             object
G                 int64
AB              float64
R               float64
H               float64
2B              float64
3B              float64
HR              float64
RBI             float64
SB              float64
CS              float64
BB              float64
SO              float64
IBB             float64
HBP             float64
SH              float64
SF              float64
GIDP            float64
dtype: object

In [6]:
# rename headers to make them neat
merged_df = merged_df.rename(columns={'playerID': 'Player ID',
                                      'birthYear': 'Birth Year',
                                      'birthCountry': 'Birth Country',
                                      'birthState': 'Birth State',
                                      'birthCity': 'Birth City',
                                      'deathYear': 'Death Year',
                                      'nameGiven': 'Full Name',
                                      'weight': 'Weight',
                                      'height': 'Height',
                                      'bats': 'Bats',
                                      'throws': 'Throws',
                                      'debut': 'Debut Date',
                                      'finalGame': 'Date of Last Game',
                                      'retroID': 'Retro ID',
                                      'bbrefID': 'BBRef ID'
                                     })
merged_df['teamID'].nunique()

33

In [13]:
teams_grouped_df = merged_df.groupby('teamID').agg({'AB': ['mean'],'R': ['mean'],'H': ['mean'],'2B': ['mean'],
                                                    '3B': ['mean'],'HR': ['mean'],'RBI': ['mean'],'SB': ['mean'],
                                                    'CS': ['mean'],'BB': ['mean'],'SO': ['mean'],'IBB': ['mean'],
                                                    'HBP': ['mean'],'SH': ['mean'],'SF': ['mean'],'GIDP': ['mean'],
                                                   })
teams_grouped_df.columns = ['At Bat Average', 'Runs Average', 'Hits Average', 'Doubles Average', 'Triples Average',
                           'Home Run Average', 'RBI Average', 'Stolen Bases Average', 'Caught Stealing Average',
                            'Base on Balls Average', 'Strikouts Average', 'Intentional Walks Average',
                            'Hit by Pitch Average', 'Sacrifices Average', 'Sacrifice Flies Average', 
                            'Grounded into Double Plays Average'
                           ]
teams_grouped_df.head()

,At Bat Average,Runs Average,Hits Average,Doubles Average,Triples Average,Home Run Average,RBI Average,Stolen Bases Average,Caught Stealing Average,Base on Balls Average,Strikouts Average,Intentional Walks Average,Hit by Pitch Average,Sacrifices Average,Sacrifice Flies Average,Grounded into Double Plays Average
teamID,,,,,,,,,,,,,,,,
ANA,137.348039,19.500000,37.745098,7.181373,0.794118,4.205882,18.529412,2.931373,1.284314,12.205882,22.598039,1.000000,1.602941,1.215686,1.230392,2.882353
ARI,119.492578,15.627530,30.792173,6.384615,0.852901,3.524966,14.932524,1.879892,0.817814,11.609987,24.951417,1.039136,1.040486,1.249663,0.986505,2.578947
ATL,124.286920,16.576653,32.471167,6.417722,0.587904,3.735584,15.793249,1.766526,0.769339,12.351617,25.606188,1.053446,1.070323,1.554149,0.935302,2.949367
BAL,117.786280,15.441953,30.915567,6.085752,0.449868,3.708443,14.741425,1.907652,0.778364,9.953826,22.014512,0.630607,1.135884,0.705805,0.935356,2.798153
BOS,113.811869,16.804293,30.974747,6.840909,0.560606,3.768939,16.023990,1.625000,0.570707,11.945707,22.467172,0.881313,1.200758,0.502525,1.063131,2.662879

In [20]:
#grouped by teams and sorted average runs of a player on team between 2000-2015
teams_grouped_runs = merged_df.groupby('teamID').agg({'R': ['mean','max','min','std','var']})
teams_grouped_runs.columns = ['Runs Average', 'Runs Max', 'Runs Min', 'Runs STD', 'Runs Var']
print(teams_grouped_runs.reset_index().sort_values(['Runs Average'],ascending=False).set_index(['teamID']).head())
teams_grouped_runs.to_csv('output/Average_Runs_by_Team')

        Runs Average  Runs Max  Runs Min   Runs STD     Runs Var
teamID
ANA        19.500000     124.0       0.0  31.844527  1014.073892
CHA        18.394856     121.0       0.0  29.114922   847.678701
SLN        17.925980     137.0       0.0  28.976314   839.626780
MIN        17.447717     112.0       0.0  26.863357   721.639962
NYA        17.326873     143.0       0.0  31.485357   991.327686

In [19]:
#grouped by teams and sorted average stikeout of a player on team between 2000-2015
teams_grouped_SO = merged_df.groupby('teamID').agg({'SO': ['mean','max','min','std','var']})
teams_grouped_SO.columns = ['Strike Out Average', 'Strike Out Max', 'Strike Out Min', 'Strike Out STD', 'Strike Out Var']
print(teams_grouped_SO.reset_index().sort_values(['Strike Out Average'],ascending=False).set_index(['teamID']).head())
teams_grouped_SO.to_csv('output/Average_SO_by_Team')
#teams_grouped_SO['teamID'].nunique()

        Strike Out Average  Strike Out Max  Strike Out Min  Strike Out STD  \
teamID
MIL              27.561528           188.0             0.0       38.995461
FLO              26.343284           187.0             0.0       38.231925
HOU              26.215297           212.0             0.0       36.257575
CIN              26.061911           205.0             0.0       37.044723
MIA              25.922680           170.0             0.0       36.386942

        Strike Out Var
teamID
MIL        1520.645997
FLO        1461.680067
HOU        1314.611737
CIN        1372.311526
MIA        1324.009535

In [18]:
#grouped by teams and sorted average runs of a player on team between 2000-2015
teams_grouped_HR = merged_df.groupby('teamID').agg({'HR': ['mean','max','min','std','var']})
teams_grouped_HR.columns = ['Home Runs Average', 'Home Runs Max', 'Home Runs Min', 'Home Runs STD', 'Home Runs Var']
print(teams_grouped_HR.reset_index().sort_values(['Home Runs Average'],ascending=False).set_index(['teamID']).head())
teams_grouped_HR.to_csv('output/Average_Home_Runs_by_Team')

        Home Runs Average  Home Runs Max  Home Runs Min  Home Runs STD  \
teamID
CHA              4.742814           44.0            0.0       9.086310
NYA              4.312661           54.0            0.0       8.876786
ANA              4.205882           47.0            0.0       8.711397
TOR              4.090418           54.0            0.0       8.452006
MIL              4.021216           50.0            0.0       8.150382

        Home Runs Var
teamID
CHA         82.561028
NYA         78.797330
ANA         75.888438
TOR         71.436408
MIL         66.428728

In [17]:
# create column for batting average
#drop columns with 0 at bats
batting_average = merged_df.loc[(merged_df['AB'] !=0)]
#batting_average = merged_df.loc[(merged_df['AB'] != 0).all(axis=1)]
batting_average['Batting Average'] = batting_average["H"]/batting_average["AB"]
#print(batting_average)
grouped_by_teams= batting_average.groupby('teamID').agg({'Batting Average': ['mean','max','min','std','var']})
grouped_by_teams.columns = ['Team Batting Average', 'Batting Average Max', 'Batting Average Min', 'Batting Average STD', 'Batting Average Var']
print(grouped_by_teams.reset_index().sort_values(['Team Batting Average'],ascending=False).set_index(['teamID']).head())
grouped_by_teams.to_csv('output/Batting_Average_by_Team')

        Team Batting Average  Batting Average Max  Batting Average Min  \
teamID
ANA                 0.228559             0.666667                  0.0
MIN                 0.219808             1.000000                  0.0
CLE                 0.218099             1.000000                  0.0
KCA                 0.217972             1.000000                  0.0
TEX                 0.215698             1.000000                  0.0

        Batting Average STD  Batting Average Var
teamID
ANA                0.130628             0.017064
MIN                0.134703             0.018145
CLE                0.143266             0.020525
KCA                0.143728             0.020658
TEX                0.138010             0.019047

/Users/deliahellander/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [16]:
#Sort teams to find top five for average doubles between 2000-2015
print(teams_grouped_df.reset_index().sort_values(['Doubles Average'],ascending=False).set_index(['teamID']).head())

        At Bat Average  Runs Average  Hits Average  Doubles Average  \
teamID
ANA         137.348039     19.500000     37.745098         7.181373
MIN         131.350515     17.447717     34.848306         6.980854
BOS         113.811869     16.804293     30.974747         6.840909
SLN         128.465893     17.925980     34.552975         6.795356
FLO         123.626866     16.402985     32.367537         6.654851

        Triples Average  Home Run Average  RBI Average  Stolen Bases Average  \
teamID
ANA            0.794118          4.205882    18.529412              2.931373
MIN            0.832106          3.360825    16.483063              2.272459
BOS            0.560606          3.768939    16.023990              1.625000
SLN            0.605225          3.898403    17.034833              1.743106
FLO            0.744403          3.649254    15.546642              2.479478

        Caught Stealing Average  Base on Balls Average  Strikouts Average  \
teamID
ANA                    1.284314              12.205882          22.598039
MIN                    0.979381              12.030928          25.033873
BOS                    0.570707              11.945707          22.467172
SLN                    0.841800              12.516691          24.407837
FLO                    1.016791              11.783582          26.343284

        Intentional Walks Average  Hit by Pitch Average  Sacrifices Average  \
teamID
ANA                      1.000000              1.602941            1.215686
MIN                      0.865979              1.169367            0.835052
BOS                      0.881313              1.200758            0.502525
SLN                      1.314949              1.426705            1.651669
FLO                      1.063433              1.425373            1.509328

        Sacrifice Flies Average  Grounded into Double Plays Average
teamID
ANA                    1.230392                            2.882353
MIN                    1.111929                            3.194404
BOS                    1.063131                            2.662879
SLN                    1.082729                            3.132075
FLO                    0.988806                            2.591418

In [21]:
#Sort teams to find top five for average triples between 2000-2015
print(teams_grouped_df.reset_index().sort_values(['Triples Average'],ascending=False).set_index(['teamID']).head())

        At Bat Average  Runs Average  Hits Average  Doubles Average  \
teamID
DET         125.188811     16.841958     33.688112         6.440559
COL         113.845466     16.321839     30.942529         6.168582
SFN         125.440341     16.281250     32.840909         6.576705
ARI         119.492578     15.627530     30.792173         6.384615
MIN         131.350515     17.447717     34.848306         6.980854

        Triples Average  Home Run Average  RBI Average  Stolen Bases Average  \
teamID
DET            0.902098          3.763636    16.106294              1.720280
COL            0.886335          3.559387    15.486590              2.019157
SFN            0.856534          3.438920    15.460227              1.724432
ARI            0.852901          3.524966    14.932524              1.879892
MIN            0.832106          3.360825    16.483063              2.272459

        Caught Stealing Average  Base on Balls Average  Strikouts Average  \
teamID
DET                    0.843357              10.851748          24.497902
COL                    0.879949              10.881226          23.750958
SFN                    0.767045              11.818182          23.633523
ARI                    0.817814              11.609987          24.951417
MIN                    0.979381              12.030928          25.033873

        Intentional Walks Average  Hit by Pitch Average  Sacrifices Average  \
teamID
DET                      0.762238              1.089510            0.890909
COL                      0.933589              1.019157            1.514687
SFN                      1.401989              1.106534            1.563920
ARI                      1.039136              1.040486            1.249663
MIN                      0.865979              1.169367            0.835052

        Sacrifice Flies Average  Grounded into Double Plays Average
teamID
DET                    1.040559                            2.967832
COL                    0.916986                            2.495530
SFN                    1.066761                            2.984375
ARI                    0.986505                            2.578947
MIN                    1.111929                            3.194404

In [22]:
#Sort teams to find top five for average RBIs between 2000-2015
print(teams_grouped_df.reset_index().sort_values(['RBI Average'],ascending=False).set_index(['teamID']).head())

        At Bat Average  Runs Average  Hits Average  Doubles Average  \
teamID
ANA         137.348039     19.500000     37.745098         7.181373
CHA         133.765507     18.394856     35.027231         6.588502
SLN         128.465893     17.925980     34.552975         6.795356
NYA         115.260982     17.326873     30.966408         5.937984
MIN         131.350515     17.447717     34.848306         6.980854

        Triples Average  Home Run Average  RBI Average  Stolen Bases Average  \
teamID
ANA            0.794118          4.205882    18.529412              2.931373
CHA            0.558245          4.742814    17.636914              2.372163
SLN            0.605225          3.898403    17.034833              1.743106
NYA            0.449612          4.312661    16.620155              2.260982
MIN            0.832106          3.360825    16.483063              2.272459

        Caught Stealing Average  Base on Balls Average  Strikouts Average  \
teamID
ANA                    1.284314              12.205882          22.598039
CHA                    1.127080              11.894100          25.741301
SLN                    0.841800              12.516691          24.407837
NYA                    0.722222              12.391473          22.381137
MIN                    0.979381              12.030928          25.033873

        Intentional Walks Average  Hit by Pitch Average  Sacrifices Average  \
teamID
ANA                      1.000000              1.602941            1.215686
CHA                      0.658094              1.476551            1.010590
SLN                      1.314949              1.426705            1.651669
NYA                      0.751938              1.416021            0.626615
MIN                      0.865979              1.169367            0.835052

        Sacrifice Flies Average  Grounded into Double Plays Average
teamID
ANA                    1.230392                            2.882353
CHA                    1.086233                            3.124054
SLN                    1.082729                            3.132075
NYA                    0.935401                            2.780362
MIN                    1.111929                            3.194404

In [23]:
#Sort teams to find top five for average grouded into doubles plays between 2000-2015
print(teams_grouped_df.reset_index().sort_values(['Grounded into Double Plays Average'],ascending=False).set_index(['teamID']).head())

        At Bat Average  Runs Average  Hits Average  Doubles Average  \
teamID
MIN         131.350515     17.447717     34.848306         6.980854
SLN         128.465893     17.925980     34.552975         6.795356
CHA         133.765507     18.394856     35.027231         6.588502
SFN         125.440341     16.281250     32.840909         6.576705
DET         125.188811     16.841958     33.688112         6.440559

        Triples Average  Home Run Average  RBI Average  Stolen Bases Average  \
teamID
MIN            0.832106          3.360825    16.483063              2.272459
SLN            0.605225          3.898403    17.034833              1.743106
CHA            0.558245          4.742814    17.636914              2.372163
SFN            0.856534          3.438920    15.460227              1.724432
DET            0.902098          3.763636    16.106294              1.720280

        Caught Stealing Average  Base on Balls Average  Strikouts Average  \
teamID
MIN                    0.979381              12.030928          25.033873
SLN                    0.841800              12.516691          24.407837
CHA                    1.127080              11.894100          25.741301
SFN                    0.767045              11.818182          23.633523
DET                    0.843357              10.851748          24.497902

        Intentional Walks Average  Hit by Pitch Average  Sacrifices Average  \
teamID
MIN                      0.865979              1.169367            0.835052
SLN                      1.314949              1.426705            1.651669
CHA                      0.658094              1.476551            1.010590
SFN                      1.401989              1.106534            1.563920
DET                      0.762238              1.089510            0.890909

        Sacrifice Flies Average  Grounded into Double Plays Average
teamID
MIN                    1.111929                            3.194404
SLN                    1.082729                            3.132075
CHA                    1.086233                            3.124054
SFN                    1.066761                            2.984375
DET                    1.040559                            2.967832

In [ ]:
# By analyzing the summary stats of batting performance varaibles grouped by team, we were able to get some insight 
# on which team has the best batting performance on average over the 15 year period.  The LA Angels is the top team for
# most of the batting variables including RBIs, doubles, batting average, and runs.